@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000f1f;
    --foreground: #ccffff;
    --primary: #005f8f;
    --primary-foreground: #ccffff;
    --secondary: #3b515e;
    --secondary-foreground: #ccffff;
    --accent: #26a3d9;
    --accent-foreground: #1e2424;
    --destructive: #de0202;
    --destructive-foreground: #ffffff;
    --muted: #265973;
    --muted-foreground: #ccffff;
    --card: #001f3d;
    --card-foreground: #ccffff;
    --popover: #00264d;
    --popover-foreground: #ccffff;
    --border: #336699;
    --input: #336699;
    --ring: #ccffff;
    --radius: 0rem;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}