@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000f1f;
    --foreground: #ccffff;
    --primary: #005f8f;
    --primary-foreground: #ccffff;
    --secondary: #3b515e;
    --secondary-foreground: #ccffff;
    --accent: #26a3d9;
    --accent-foreground: #1e2424;
    --destructive: #de0202;
    --destructive-foreground: #ffffff;
    --muted: #265973;
    --muted-foreground: #ccffff;
    --card: #001f3d;
    --card-foreground: #ccffff;
    --popover: #00264d;
    --popover-foreground: #ccffff;
    --border: #336699;
    --input: #336699;
    --ring: #ccffff;
    --radius: 0rem;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spin 1s linear infinite;
}
/* 
.wave-pattern {
  position: relative;
  isolation: isolate;
}
.wave-pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: 
    repeating-linear-gradient(
      35deg,
      #e5e7eb 0px,
      #e5e7eb 1px,
      transparent 1px,
      transparent 20px
    );
  opacity: 0.1;
  z-index: -1;
  mask-image: radial-gradient(circle at center, black, transparent 80%);
} */

.wave-pattern {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  background: var(--background);
}

.wave-pattern::before,
.wave-pattern::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.wave-pattern::before {
  background-image: repeating-linear-gradient(
    35deg,
    var(--primary) 0px,
    var(--primary) 1px,
    transparent 1px,
    transparent 20px
  );
  opacity: 0.1;
  mask-image: radial-gradient(circle at center, black, transparent 80%);
}

.wave-pattern::after {
  background: radial-gradient(
      circle at top left,
      var(--accent) 0%,
      transparent 60%
    ),
    radial-gradient(circle at bottom right, var(--primary) 0%, transparent 60%);
  opacity: 0.15;
  mix-blend-mode: soft-light;
}
